<div class="row text-center">
    <h3><label class="text-danger" id="documentsIntro"></label></h3>
    <form action="http://localhost:7070/application/upload" id="uploadForm" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
            <label for="letter" class="col-sm-6 control-label">Anschreiben (PDF)</label>
            <div class="col-sm-6" style="margin-top: 5px;">
                <input id="letter" name="letter" type="file" accept="application/pdf" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="cv" class="col-sm-6 control-label">Lebenslauf (PDF)</label>
            <div class="col-sm-6" style="margin-top: 5px;">
                <input id="cv" name="cv" type="file" accept="application/pdf" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="report" class="col-sm-6 control-label">Zeugnisse (PDF)</label>
            <div class="col-sm-6" style="margin-top: 5px;">
                <input id="report" name="report" type="file" accept="application/pdf" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="video" class="col-sm-6 control-label">Video (optional)</label>
            <div class="col-sm-3" style="margin-top: 5px;">
                <input id="video" name="video" type="file" accept="video/*"/>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-warning mt-5 pull-left" onclick="apply.removeVideo();" id="removeVideo" role="button">Video entfernen</a>
            </div>
        </div>
        <div class="form-group">
            <label for="link" class="col-sm-6 control-label">Social Media Link (Optional)</label>
            <div class="col-sm-6" style="margin-top: 5px;">
                <input class="pull-left" id="link" name="link" type="text" width="300"/>
            </div>
        </div>
        <input type="hidden" id="jobRef" value="" name="jobRef" required/>
        <input type="hidden" id="gdprRef" value="" name="gdprRef" required/>
        <div class="form-group">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-success mt-5 pull-right" value="fortfahren" name="uploadDocuments"/>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger mt-5 pull-left" href="cancel.html" id="cancel" role="button">abbrechen</a>
            </div>
        </div>
    </form>
</div>
