<head>
    <title>HR-Wizard Bewerber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
</head>
<div class="image-section" style="height: 680px">
    <div class="container">
        <div class="row text-center red">
            <img style="max-width:20%;" src="img/company_logo.png">
        </div>
        <div class="row text-center">
            <h2>Sie haben sich entschieden, die Bewerbung abzubrechen. Aus diesem Grund wurden alle Angaben von Ihnen
                und Dokumente gel&ouml;scht.</h2>
        </div>
        <div class="row text-center">
            <h2>Mit freundlichen Gr&uuml;&szlig;en</h2>
        </div>
        <div class="row text-center">
            <h2>Test-Company</h2>
        </div>
    </div>
</div>