<div class="row text-center">
    <label>
        <input type="checkbox" name="dsgvo1" value="dsgvo1" onclick="job.setGdpr(1);window.location.assign('#apply')">
        Ich habe die DSGVO gelesen und bin mit damit einverstanden, dass meine Daten w&auml;hrend des
        Bewerbungsprozesses mit Mitarbeitern geteilt werden. Im Fall einer Absage werde meine Daten automatisch gel&ouml;scht.
    </label>
    <label>
        <input type="checkbox" name="dsgvo2" value="dsgvo2" onclick="job.setGdpr(2);window.location.assign('#apply')">
        Ich habe die DSGVO gelesen und bin mit damit einverstanden, dass meine Daten w&auml;hrend des
        Bewerbungsprozesses mit Mitarbeitern geteilt werden. Im Fall einer Absage darf das Unternehmen meine Daten
        speichern und mich bei k&uuml;nftigen Bewerbungsverfahren kontaktieren. Meine Daten werden bei einer Absage
        nicht automatisch gel&ouml;scht.
    </label>
    <label>
        <input type="checkbox" name="dsgvo3" value="dsgvo3" required="required" onclick="window.history.back();">
        Keine Bewerbung abgeben.
    </label>
    <input type="hidden" id="jobRef" value="" name="jobRef" required/>
</div>