<div class="row text-center">
    <div>
        <h3><label class="text-danger" id="jobIntro1"></label></h3>
        <h3><label class="text-danger" id="jobIntroCompany"></label></h3>
        <h3><label class="text-danger" id="jobIntro2"></label></h3>
        <h3><label class="text-danger" id="jobIntroPosition"></label></h3>
    </div>
</div>
<div class="row text-center" id="applyDivInner">
    <a class="btn btn-success" href="#gdpr" id="gdprLinkInner" role="button">Bewerbung starten</a>
</div>
<div class="row">
    <div class="col-md-4">
        <div>
            <h2><label id="jobTitle"></label></h2>
        </div>
        <div>
            <h3><label id="jobDescription"></label></h3>
        </div>
        <div id="jobDescriptionPdfLink">
        </div>
        <canvas id="pdfCanvas" width="380" height="537"></canvas>
    </div>
    <div class="col-md-8">
        <h3><label>Anforderungen</label></h3>
        <table id="requirementstable" class="table table-striped table-responsive text-center">
            <thead>
            <th class="text-center">Nr.</th>
            <th class="text-center">Anforderung</th>
            <th class="text-center">Absolut notwendig</th>
            <th class="text-center">Gewichtung in %</th>
            <th class="text-center">Anzahl an Jahren</th>
            </thead>
        </table>
    </div>
</div>