<div class="container">
    <div class="row text-center">
        <h3><label class="text-danger" id="jobSkillMatrixIntro">Bitte tragen Sie nun Ihre Angaben wahrheitsgem&auml;&szlig;
            ein:<p>
            1. Haken setzen, wenn Sie die Anforderung erf&uuml;llen.<br>
            2. Anzahl der Jahre an Erfahrung für die jeweilige Anforderung eingeben.
        </label></h3>
    </div>
    <form id="requirementsapply">
        <table id="requirementstablewithanswer" class="table table-striped table-responsive text-center">
            <thead>
            <th class="text-center">Nr.</th>
            <th class="text-center">Anforderung</th>
            <th class="text-center">Absolut notwendig</th>
            <th class="text-center">Erf&uuml;llt</th>
            <th class="text-center">Gewichtung in %</th>
            <th class="text-center">Anzahl an Jahren</th>
            <th class="text-center">Jahre</th>
            </thead>
        </table>
        <div class="form-group">
            <div class="col-sm-6">
                <a class="btn btn-success mt-5 pull-right" onclick="job.sendRequirementsAnswer()" role="button">fortfahren</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger mt-5 pull-left" href="cancel.html" id="cancel" role="button">abbrechen</a>
            </div>
        </div>
    </form>
</div>