<div id="link">
    <label>Link
        <input name="link" type="text" maxlength="255" minlength="10">
    </label>
    <a id="removeLink" href="javascript:apply.documentRemoved('link');">Entfernen</a>
</div>