<div class="container">
    <div class="row text-center">
        <h3><label class="text-danger" id="yourDataIntro">
            Bitte teilen Sie uns Ihre Kontaktdaten mit.
        </label></h3>
    </div>
    <form id="personalDataForm">
        <div class="form-group row">
            <label for="salutation" class="col-sm-2 col-form-label">Anrede:</label>
            <div class="col-sm-10">
                <select id="salutation" name="salutation" required="required">
                    <option value="">Bitte wählen</option>
                    <option value="MRS">Frau</option>
                    <option value="MR">Herr</option>
                    <option value="DIV">Divers</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Vorname:</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Vorname" type="text" name="firstName" id="firstName"
                       required="required">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Nachname:</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Nachname" type="text" name="lastName" id="lastName"
                       required="required">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Mailadresse:</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="eMail" type="email" name="email" id="email"
                       required="required">
            </div>
        </div>
        <!--<div class="form-group row">
            <label for="telephone" class="col-sm-2 col-form-label">Telefon:</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Telefon" type="text" name="telephone" id="telephone"
                       required="required">
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-sm-6">
                <a class="btn btn-success mt-5 pull-right" onclick="job.sendPersonalData()" role="button">Bewerbung absenden</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger mt-5 pull-left" href="cancel.html" id="cancel" role="button">Abbrechen</a>
            </div>
        </div>
    </form>
</div>