<div class="container">
    <div class="row text-center">
        <h3 id="thankYouGreeting"></h3>
        <h3>herzlichen Dank f&uuml;r Ihre Bewerbung. Sie erhalten in K&uuml;rze eine Mail von uns mit der Best&auml;tigung, dass Ihre Bewerbung bei uns eingegangen ist.<p></p>Bitte sehen Sie ggf. auch im Spamordner nach.<p></p>Mit freundlichen Grüßen<p></p>Andreas Schmidt Sales & Consulting
        </h3>
    </div>
</div>
